// Custom styles.
.post {
   margin-top: 60px;
   margin-bottom: 60px;
   padding: 25px;
   -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
   -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
  }
/*
@media screen and (min-width:1200px) {

    body {
    background-image:url(/images/background.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-position:50% 50%; 
    }

    #footer a {
        color:#ffffff;
    }
}
background:rgba(255,255,255,0.9);
*/
body {
    background-image:url(/images/background.jpg);
    background-position: center 0;  
    background-repeat: no-repeat;  
    background-attachment: fixed;  
    background-size: cover;  
    -webkit-background-size: cover;  
    -o-background-size: cover;  
    -moz-background-size: cover;  
    -ms-background-size: cover;  
}
.main-inner { 
    margin-top: 60px;
    padding: 60px 60px 60px 60px;
   /* background: #fff;*/
    background:rgba(255,255,255,0.8);
    min-height: 500px;
}
.header {
          background:rgba(255,255,255,0.8) none repeat scroll !important;
        }
.footer {
          background:rgba(255,255,255,0.8) none repeat scroll !important;
        }